{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div>
    <div class="header">
        <h1>Produtos Disponíveis</h1>
    </div>

    <div class="form-errors">
        {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="products-container">
        {% for product in products %}
            <div class="product">
                {% include "global/partials/product.html" %}
            </div>
        {% empty %}
            <div class="empty-base-page">
                <p>Nenhum produto disponível</p>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}