{% extends "global/pages/base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <div>
        {% for product in products %}
            <div class="products-container">
                <div class="product">
                    <img class="product-img" src="{{ product.cover.url }}" alt="">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">{{ product.price }}</p>
                    <p class="product-link"><a href="#">Link</a></p>
                </div>
            </div>
        {% endfor %}
{% endblock content %}