{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div>
    <div class="header">
        <h1>Pedidos</h1>
    </div>
    <div class="order-container">
        {% for ordered in ordereds %}
            <div class="order-card">
                {% include "global/partials/ordered.html" %}
            </div>
        {% empty %}
            <div class="empty-base-page">
                <p>Nenhum pedido feito.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}