{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="submit-question-container">
        <div class="header">
            <p class="header-text">Envie sua resposta</p>
        </div>
        <div class="form-container">
            <form action="{% url 'staff:support_staff' %}" method="POST">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            
                <label for="{{ form.answer.id_for_label }}" class="form-label">{{ form.answer.label }}</label>
                {{ form.answer }}
            
                <button type="submit" class="submit-button">Enviar</button>
            </form>
        </div>
    </div>
{% endblock content %}
