{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div>
        <div class="header">
            <h1>Dúvidas</h1>
        </div>
        <div class="support-container">
            <div class="support-card">
                <div class="support-info">
                    <p class="support-text"><strong>Nome:</strong> {{ question.user }}</p>
                    <p class="support-text"><strong>Email:</strong> {{ question.user.email }}</p>
                    <p class="support-text-detail"><strong>Dúvida:</strong> {{ question.question }}</p>
                </div>

                <form action="{% url 'staff:support_staff' %}" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ question.user.email }}">
                    <button type="submit">Responder</button>
                </form>

                <div class="support-action-container">                    
                    <form class="form-delete" action="{% url 'staff:support_question_delete' question.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}