{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="header">
        <h1>Seu Carrinho de Compras</h1>
        <a href="{% url 'home:index' %}" class="back-link">Voltar à loja</a>
    </div>

    <div class="cart-container">
        <div class="cart-items">
            <h2>Itens no Carrinho</h2>

            {% for product in products %}
                <div class="cart-item">
                    <div class="item-img">
                        <img src="{{ product.cover.url }}" alt="Produto 1">
                    </div>
                    <div class="item-details">
                        <h3 class="item-name">{{ product }}</h3>
                        <p class="item-price">{{ product.price }}</p>
                        <div class="item-actions">
                            <form method="post" action="{% url "home:remove_from_cart" product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="remove-btn">Remover</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="cart-summary">
            <h2>Resumo do Carrinho</h2>
            <p><strong>Valor Total:</strong> R$ {{ total_price }}</p>

            <form method="post" action="/finalizar_pedido">
                <button type="submit" class="checkout-btn">Finalizar Pedido</button>
            </form>
        </div>
    </div>

{% endblock content %}
