{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="header">
        <h1>Seu Carrinho de Compras</h1>
        <a href="{% url 'home:index' %}" class="back-link">Voltar à loja</a>
    </div>

    <div class="cart-container">
        <div class="cart-items">
            <h2>Itens no Carrinho</h2>

            {% for key, value in products.items %}
                <div class="cart-item">
                    <div class="item-img">
                        <img src="{{ MEDIA_URL }}{{ value.product.cover }}" alt="Produto {{ key }}">
                    </div>
                    <div class="item-details">
                        <h3 class="item-name">{{ value.product.name }} x{{ value.quantity }}</h3>
                        <p class="item-price">R$: {{ value.product.price }}</p>
                        <div class="item-actions">
                            <form class="buy-form" method="post" action="{% url "home:remove_from_cart" value.product.id %}">
                                {% csrf_token %}
                                <label for="quantity-to-remove">Quantity:</label>
                                <input type="number" id="quantity-to-remove" name="quantity-to-remove" min="1" max="{{ value.quantity }}" value="1">

                                <button type="submit" class="remove-btn">Remover</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="empty-cart">
                    <p class="empty-cart-message">
                        Carrinho vazio: Adicione algum produto para aparecer aqui!
                    </p>
                </div>
            {% endfor %}

        </div>

        {% if products %}
            <div class="cart-summary">
                <h2>Resumo do Carrinho</h2>
                <p><strong>Valor Total:</strong> R$ {{ total_price }}</p>

                <form method="post" action="{% url 'home:payment' %}">
                    {% csrf_token %}
                    <button type="submit" class="checkout-btn">Finalizar Pedido</button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock content %}
