{% extends "global/pages/base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div>
        <form method="POST" class="payment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Enviar</button>
        </form>

        <div class="form-errors">
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="module" src="{% static 'home/js/formVerify.js' %}"></script>
{% endblock content %}
