{% extends "global/pages/base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="view-container">
        <div class="product-view">
            <div class="product-img">
                <img src="{{ product.cover.url }}" alt="">

            </div>
            <div class="product-details">
                <h2 class="product-name">{{ product.name }}</h2>
                
                {% if stock >= 1 %}
                    <p class="product-price">R$: {{ product.price }}</p>
                    <p class="product-description">{{ product.description }}</p>
            </div>
        </div>
        <div class="buy-section">
            <h2>Buy Now</h2>
            <p class="buy-price">R$: {{ product.price }}</p>
            <form class="buy-form" action="{% url "home:add_to_cart" product.id %}" method="POST">
                {% csrf_token %}

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">

                <button type="submit">Add to Cart</button>

            </form>
            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        {% else %}
            <p class="out-of-stock">Produto sem estoque</p>
        {% endif %}
    </div>
{% endblock content %}
