{% extends "global/pages/base.html" %}

{% block title %} Product {% endblock title %}

{% block content %}
    <div class="view-container">
        <div class="product-view">
            <div class="product-img">
                <img src="{{ product.cover.url }}" alt="">

            </div>
            <div class="product-details">
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="product-price">R$: {{ product.price }}</p>
                <p class="product-description">{{ product.description }}</p>
            </div>
        </div>
        <div class="buy-section">
            <h2>Buy Now</h2>
            <p class="buy-price">R$: {{ product.price }}</p>
            <form class="buy-form" action="" method="post">
                {% csrf_token %}

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    </div>
{% endblock content %}
