<div class="header">
    <h1><a href="{% url "home:index" %}">E-commerc</a></h1>

    {% if user.is_authenticated and not is_staff %}
        <form action="{% url "authors:logout" %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}

    {% if user.is_authenticated and is_staff %}
            <div>
                <a href="{% url "staff:add_product" %}"><p>Adicionar um novo produto</p></a>
            </div>
    {% endif %}

    <div class="cart-icon">
        <a href="{% url 'home:cart_detail' %}">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-count">0</span>
        </a>
    </div>
</div>