{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "global/css/global_styles.css" %}">
<link rel="stylesheet" href="{% static "global/css/support_styles.css" %}">
<link rel="stylesheet" href="{% static "global/css/search_styles.css" %}">
<link rel="stylesheet" href="{% static "global/css/cart_styles.css" %}">
<link rel="stylesheet" href="{% static "css/auth_styles.css" %}">
<link rel="stylesheet" href="{% static "css/products_styles.css" %}">
<link rel="stylesheet" href="{% static "css/view_product_styles.css" %}">
<link rel="stylesheet" href="{% static "css/crud_products_styles.css" %}">
<link rel="stylesheet" href="{% static "css/cart_detail_styles.css" %}">
<link rel="stylesheet" href="{% static "css/payment_styles.css" %}">
<link rel="stylesheet" href="{% static "css/ordered_styles.css" %}">
<link rel="stylesheet" href="{% static "css/faq_styles.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
