<div class="order-info">
    <p class="order-title">Pedido #{{ ordered.id }}</p>
    <p class="order-text"><strong>Nome:</strong> {{ ordered.first_name }} {{ ordered.last_name }}</p>
    <p class="order-text"><strong>Bairro:</strong> {{ ordered.neighborhood}}</p>
    <p class="order-text"><strong>Rua:</strong> {{ ordered.street_name }}</p>
    <p class="order-text"><strong>Número da Casa:</strong> {{ ordered.house_number }}</p>
    <p class="order-text"><strong>Data do Pedido:</strong> {{ ordered.created_at }}</p>
</div>
<div class="order-action-container">
    <p class="order-link"><a href="{% url 'staff:ordered_detail' ordered.id %}">Visualizar</a></p>
    
    {% if title != 'Cliente' %}
        <form class="form-delete" action="{% url 'staff:complete_ordered' ordered.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Concluir</button>
        </form>
    {% endif %}
</div>