/* faq */

header.faq-header {
    /* background-color: #4CAF50; */
    color: black;
    text-align: center;
    padding: 1rem 0;
}

main.faq-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-section {
    margin-bottom: 2rem;
}

.faq-section h2 {
    color: #3498db;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 0.5rem;
}

.faq-item {
    margin-bottom: 1rem;
}

.faq-question {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #2980b9;
}

.faq-answer {
    display: none;
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border-left: 3px solid #2980b9;
    border-radius: 3px;
    margin-top: 0.5rem;
}